@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 88%;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 66%;
    }
}
@keyframes node{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes express{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.about .text-box h1{
    margin-bottom: 2rem;
}
p{
    animation: fadeInLeft 1s backwards;
    margin-top: 1rem;
    letter-spacing:1px;
}
h3{
    margin-top: 2rem;
}
.container{
    display: flex;
}
.text-box{
    display: flex;
    flex-direction: column;
}
.skill-box{
    display: flex;
    flex-direction: column;
    animation: fadeInDownBig 2s backwards;
    margin-top: 15%;
    width: 50vw;
    height: 30vw;
    left: 40vw;
    bottom: 10vw;
    color: #ffd700;
}
.skill-bar{
    background: #2f2f2fb6;
    height: 0.2rem;
    margin-top: 3px;
    border-radius: 2%;
}
.js-skill{
    height: 100%;
    background: red;
    animation: js 5s 2s both;
}
.css-skill{
    height: 100%;
    background: blue;
    animation: css 5s 2s both;
}
.html-skill{
    height: 100%;
    background: purple;
    animation: html 5s 2s both;
}
.node-skill{
    height: 100%;
    background: brown;
    animation: node 5s 2s both;
}
.react-skill{
    height: 100%;
    background: salmon;
    animation: react 5s 2s both;
}
.express-skill{
    height: 100%;
    background: aquamarine;
    animation: express 5s 2s both;
}

